:root {
    --squirrel-50: #fdf8ee;
    --squirrel-100: #f5ecdc;
    --squirrel-200: #e7dfcb;
    --squirrel-300: #ddcbb0;
    --squirrel-400: #c6ad85;
    --squirrel-500: #a18359;
    --squirrel-600: #3c3328;
    --squirrel-accent: #8ca88a;
    --squirrel-accent-hover: #C08968;
    --squirrel-text-primary: #3c3328;
}